@import "tailwindcss";

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-800);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  /*--font-mono: var(--font-geist-mono);*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-800);
    --foreground: var(--color-neutral-100);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
